@{
    ViewBag.Title = "Login";
}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-4">

            <div class="card shadow p-4">

                <h2 class="text-center mb-4">

                    Iniciar Sesión

                </h2>

                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger">

                        @ViewBag.Error

                    </div>
                }

                <form method="post">

                    <div class="mb-3">

                        <label>Correo</label>

                        <input type="email"
                               name="correo"
                               class="form-control"
                               required />

                    </div>

                    <div class="mb-3">

                        <label>Contraseña</label>

                        <input type="password"
                               name="password"
                               class="form-control"
                               required />

                    </div>

                    <button class="btn btn-dark w-100">

                        Entrar

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>