@{
    ViewBag.Title = "Dashboard Conductor";
}

<div class="container mt-5">

    <h1>
        Panel del Conductor
    </h1>

    <p>
        Gestiona tus viajes y disponibilidad.
    </p>

    <hr />

    <a href="/Pedido"
       class="btn btn-primary btn-lg">

        Ver Viajes

    </a>

</div>